# Data Structures

Singkatnya, koleksi atau grup dari data dalam bentuk struktur tertentu.

## A. Lists

Betuk yg paling sering digunakan adalah `List`. Bayangkan itu sebagai daftar data yang di bentuk dalam kurung siku dan dipisah menggunakan koma. Setiap data mempunyai index untuk bisa diakses. Untuk memulai struktur ini bisa dengan `[]` atau fungsi `list`

In [1]:
a = [3,7,13,14,19,22,27]

In [2]:
print(type(a))

<class 'list'>

In [3]:
x = ['kabel', 'kalender','meja']

In [4]:
ax=[4,'saya','bangku',5,6,9.0,[4.0,4.5],'res']

### A.1 Indexing

dalam python, index dimulai dari 0.

In [7]:
a[5]

22

In [8]:
x[0]==x[-3]

True

In [10]:
x[-2]

'kalender'

index juga berlaku sebaliknya

In [11]:
x[-1]

'meja'

In [12]:
y = ['tv','bangku']

kita bisa buat list dalam list

In [14]:
z  = [x,y]
print(z)

[['kabel', 'kalender', 'meja'], ['tv', 'bangku']]

In [15]:
z1 = z[0]
print(z1)

['kabel', 'kalender', 'meja']

In [16]:
z1[0]

'kabel'

In [17]:
z[0][0]

'kabel'

### A.2 Slicing

List bisa kita "slice" dan di ambil isi "sub-list"-nya

In [18]:
num = [89,33,3,4,5,6,7,8,9,10,11,12,13,10,56]

In [13]:
print(num[0:4])
print(num[4:])

[89, 33, 3, 4]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 10, 56]

In [20]:
num[6:]

[7, 8, 9, 10, 11, 12, 13, 10, 56]

In [21]:
num[5:10]

[6, 7, 8, 9, 10]

bisa juga di slice dengan steps

In [22]:
num[:9]

[89, 33, 3, 4, 5, 6, 7, 8, 9]

In [14]:
num[:9:3]

[89, 4, 7]

In [23]:
num[2:-2]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

### A.3 Built in List Functions

In [16]:
len(num)

15

In [17]:
min(num)

3

In [18]:
max(num)

89

penjumlahan list

In [19]:
[1,2] + [5,6,4,7]

[1, 2, 5, 6, 4, 7]

In [20]:
[1,2,3,4]+[8,7,6,5]

[1, 2, 3, 4, 8, 7, 6, 5]

Kehebatan lain dalam list

In [25]:
names = ['Air','Fire','Water','Earth','Light']

In [26]:
'Fire' in names

True

In [27]:
'liquid' in names

False

In [28]:
'Light' in names

True

In [30]:
'Earth' not in names

False

berlaku dengan string

In [26]:
mlist = ['asdagt','dhtdf','thet2d','dsfa','gkh','adffaz','zdfssg','safrsad','krfgthm']

In [27]:
print(max(mlist))
print(min(mlist))

zdfssg
adffaz

In [31]:
nlist = ['752','355','614','023','7040']
nlist_int = [752, 355, 614, 23, 7040]

In [32]:
print(max(nlist))
print(min(nlist))

752
023

In [33]:
print(max(nlist_int))
print(min(nlist_int))

7040
23

In [25]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [34]:
list(['hello'])

['hello']

**append( )**

In [34]:
lst = [1,1,4,8,7,7,9,0,3,5]

In [35]:
lst.append('70')
print(lst)

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70']

In [36]:
lst1 = [5,4,2,8,7]

In [37]:
lst.append(lst1)
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7]]

In [38]:
lst.append(True)

In [39]:
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True]

In [43]:
True

True

In [44]:
true

NameError: name 'true' is not defined

In [45]:
'true'

'true'

In [94]:
AA = [1,3,5,7,9]

In [95]:
AA

[1, 3, 5, 7, 9]

In [87]:
AA.append(8)

In [88]:
AA

[1, 3, 5, 7, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

**extend( )**

In [60]:
r = [1,2,3,4]
s = [8,7,6,5]

r+s

[1, 2, 3, 4, 8, 7, 6, 5]

In [61]:
r

[1, 2, 3, 4]

In [68]:
r.extend(s)

In [70]:
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True]

In [71]:
lst1

[5, 4, 2, 8, 7]

In [72]:
lst.extend(lst1)
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4, 2, 8, 7]

In [73]:
lst.extend(4)

TypeError: 'int' object is not iterable

**count( )**

In [91]:
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4, 2, 8, 7]

In [92]:
lst.count(1)

3

In [96]:
lst.count(7)

3

In [97]:
lst.count([5, 4, 2, 8, 7])

1

**index( )**

In [99]:
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4, 2, 8, 7]

In [102]:
lst.index(8)

3

**insert(x,y)**

In [103]:
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4, 2, 8, 7]

In [107]:
lst.insert(5, 'kipas')
print(lst)

[1, 1, 4, 8, 7, 'kipas', 'kipas', 'kipas', 'kipas', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4, 2, 8, 7]

In [108]:
lst[5] = 'botol'
lst

[1,
 1,
 4,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4,
 2,
 8,
 7]

**pop( )**

In [109]:
lst

[1,
 1,
 4,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4,
 2,
 8,
 7]

In [114]:
lst.pop()

2

In [115]:
lst

[1,
 1,
 4,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4]

Pop dengan index

In [116]:
lst

[1,
 1,
 4,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4]

In [117]:
lst.pop(2)

4

In [118]:
lst

[1,
 1,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4]

In [119]:
guru=lst.pop(5)

In [120]:
guru

'kipas'

In [121]:
lst

[1,
 1,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4]

#### Kipas jadi Botol

In [122]:
lst

[1,
 1,
 8,
 7,
 'botol',
 'kipas',
 'kipas',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4]

In [133]:
index_b = lst.index('botol')
lst[index_b] = 'dispenser'

ValueError: 'botol' is not in list

In [134]:
lst

[1,
 1,
 8,
 7,
 'dispenser',
 'dispenser',
 'dispenser',
 7,
 9,
 0,
 3,
 5,
 '70',
 [5, 4, 2, 8, 7],
 True,
 5,
 4]

--------

**remove( )**

In [138]:
lst.remove('dispenser')
print(lst)

[1, 1, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4]

In [139]:
lst.remove('Python')
print(lst)

ValueError: list.remove(x): x not in list

In [140]:
del lst[1]
print(lst)

[1, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], True, 5, 4]

**sort()** dan **reverse()**

In [141]:
lst.reverse()
lst

[4, 5, True, [5, 4, 2, 8, 7], '70', 5, 3, 0, 9, 7, 7, 8, 1]

In [142]:
lst.sort()
lst

TypeError: '<' not supported between instances of 'list' and 'int'

In [143]:
lst=[1,4,5,6,3,5,2]

In [148]:
lst.sort(reverse=True) ## Descending
# lst.sort() ## Ascending
lst

[6, 5, 5, 4, 3, 2, 1]

### Copying a list

In [149]:
lista= [2,1,4,3,6]

In [150]:
listb = lista
print(listb)

[2, 1, 4, 3, 6]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [151]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4, 3]
[2, 1, 4, 3, 9]

In [152]:
print(listb)

[2, 1, 4, 3, 9]

listb ikutan berubah kan?

In [153]:
lista = [2,1,4,3]

In [154]:
listb = lista[:]
listb

[2, 1, 4, 3]

In [155]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [156]:
listb

[2, 1, 4, 3]

In [157]:
lst.insert(5,['a','b','c'])

In [158]:
lst

[6, 5, 5, 4, 3, ['a', 'b', 'c'], 2, 1]

In [159]:
lst[5]

['a', 'b', 'c']

In [160]:
lst_22=[[3,4],[5,6]]
lst_33=[[2,3,5],[3,4,1],[5,6,9]]

In [161]:
lst_22[0][1]

4

In [162]:
lst_33[2][0]

5

In [163]:
lst_exp1=[[[[5,6,7]]]]

In [165]:
lst_exp1[0][0][0][1]

6

In [166]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
list(range(2,100,5))

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [168]:
daftar_angka=list(range(0,1000,3))

In [169]:
daftar_angka[:20]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [173]:
[4,5]*10

[4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5]

In [198]:
ListA = [1,2,3,12,3,44,1,2]
ListB = [1,1,1,1,1,3,3,3,4]

In [199]:
ListA + ListB

[1, 2, 3, 12, 3, 44, 1, 2, 1, 1, 1, 1, 1, 3, 3, 3, 4]

## B. Tuples

Tuples hampir sama seperti List. Namun, tuples tidak bisa dirubah. contohnya hasil dari function divmod

In [170]:
xyz = divmod(15,2)
print(xyz)
print(type(xyz))

(7, 1)
<class 'tuple'>

In [171]:
tup = ()
tup2 = tuple()

In [172]:
27,

(27,)

In [103]:
10*(27,)

(27, 27, 27, 27, 27, 27, 27, 27, 27, 27)

In [174]:
tup3 = tuple([7,1,3])
print(tup3)
tup4 = tuple('Bersama')
print(tup4)

(7, 1, 3)
('B', 'e', 'r', 's', 'a', 'm', 'a')

It follows the same indexing and slicing as Lists.

In [175]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

1
('B', 'e', 'r')

### B.1 Mapping one tuple to another

In [176]:
a,b,c,d= ('satu','dua','tiga','seratus')

In [178]:
print(a,d)

satu seratus

In [181]:
print(c,b)

tiga dua

### B.2 Built In Tuple functions

**count()**

In [182]:
d=('1','3','a',5,'a')

In [183]:
d.count('a')

2

**index()**

In [184]:
d.index('a')

2

## C. Sets

Set mempunyai sifat seperti "Himpunan" yang dimana didalamnya pasti unik

In [189]:
set1 = set()
print(type(set1))

<class 'set'>

In [188]:
# set1 = {}
# print(type(set1))

In [190]:
set0 = set([10,2,2,3,3,4,6,6,6,6,6,6,6,6,6,6,7,7,7,7,10])
print(set0)

{2, 3, 4, 6, 7, 10}

fungsi built-in (contohnya)

<img src="../images/Himpunan-dan-Diagram-Venn.png" />

In [192]:
setA = set([1,3,5,9,7,11,13])

In [193]:
setB = set([3,6,9,12,15])

**union( )**  --> A U B

In [194]:
setA.union(setB)

{1, 3, 5, 6, 7, 9, 11, 12, 13, 15}

In [195]:
setA|setB

{1, 3, 5, 6, 7, 9, 11, 12, 13, 15}

**add( )**

In [196]:
setA.add(-1)
setA

{-1, 1, 3, 5, 7, 9, 11, 13}

In [197]:
setA.remove(-1)
setB

{3, 6, 9, 12, 15}

**intersection( )**  --> A n B

In [123]:
setA.intersection(setB)

{3, 9}

In [129]:
setA&setB

{3, 9}

**difference( )**

In [124]:
setA.difference(setB)

{1, 5, 7, 11, 13}

In [125]:
setA-setB

{1, 5, 7, 11, 13}

**symmetric_difference( )**

In [127]:
setA.symmetric_difference(setB)

{1, 5, 6, 7, 11, 12, 13, 15}

In [128]:
(setA|setB)-(setA&setB)

{1, 5, 6, 7, 11, 12, 13, 15}

**issubset( ), isdisjoint( ), issuperset( )**

In [200]:
setA.issubset(setB)

False

In [203]:
setW = {1,2,3,4}
setZ = {2,3}

setZ.issubset(setW)
# setW.issuperset(setZ)

True

In [205]:
setQ = {1,4,5,6}
setR = {3,9,8}

In [207]:
setR.isdisjoint(setQ)

True

In [204]:
setA.isdisjoint(setB)

False

In [134]:
setA.issuperset(setB)

False

In [135]:
setC={3,5}

In [136]:
setC.issubset(setA)

True

In [144]:
setA

{1, 3, 5, 7, 9, 11, 13}

## Example

In [ ]:
## 1. not include columns
## 2. unique users
## 3. check items

In [211]:
# customer_list = ['u1','u2','u3','u1','u4','u5','u8','u2'] ## tidak unique
# len(set(customer_list)) == len(customer_list)

# Quiz 3

[here](https://docs.google.com/forms/d/e/1FAIpQLSdBIRPa8dRlkaaf1D70HhfEx1X0aOpB_q4uo4ZTPI8IFrof7g/viewform)

copy and complete the script below and save it in file with extention ".py".

In [25]:
#######################
##       Codes       ##
#######################

your_email=...
print("-----"+str(your_email)+"-------")

## 
A=[16, 17,  9, 20, 20, 12,  5, 12, 16, 10, 17, 15,  1, 16,  4,  6,  6,
        4,  0,  2, 12, 15,  6,  4, 16, 12, 16, 20,  1, 16, 16, 20,  2,  6,
        2, 10, 16, 17,  6,  4,  6,  6,  8, 10,  5,  1,  2, 15,  2,  8,  8]
B=[20, 36, 29, 24, 24, 30, 31, 37, 30, 31, 32, 34, 39, 34, 20, 28, 20,
       23, 36, 40, 20, 29, 37, 29, 35, 33, 40, 23, 23, 37, 20, 33, 30, 24,
       32, 23, 32, 40, 30]
C=[12, 10, 15, 26, 24, 18, 23, 18, 23, 28, 11, 18, 18, 23, 28, 10, 12,
       10, 18, 11, 25, 18, 24, 23, 11, 12, 18, 25, 28, 17, 20, 28, 15, 20,
       24, 18, 29, 23, 21, 29, 25, 26, 26, 16, 23, 23, 25, 11, 23]


## Ubah list A, B, C diatas menjadi seperti :
# A1=list semua angka unik >0 tapi <=15 dari A, B dan C
# B1=list semua angka unik >15 tapi <=30 dari A, B dan C

print('A1 =' A1)
print('B1 =' B1)

# Clue : Set bisa jadi List, atau sebaliknya