# Functions

Sering kali ada beberapa fungsi yg harus ditulis berkali-bali.

def funcname(arg1, arg2,... argN):
    
    ''' Document String'''

    statements


    return <value>

In [1]:
print("Hey All")
print("How are you?")

Hey All
How are you?

Fungsi pertama mu

In [6]:
def firstfunc():
    print("Hey All")
    print("How are you?")

In [8]:
firstfunc()

Hey All
How are you?

Coba tambah argunment "username"

In [9]:
def firstfunc(username):
    print("Hello", username + '!')
    print(username + ',' ,"How are you there?")

In [13]:
firstfunc('Alexa')

Hello Alexa!
Alexa, How are you there?

In [14]:
name1 = input('Please enter your name : ')
firstfunc(name1)

Please enter your name :  Budi

Hello Budi!
Budi, How are you there?

In [16]:
def secondfunc():
    name1 = input('Please enter your name : ')
    firstfunc(name1)

In [17]:
secondfunc()

Please enter your name :  Nokia

Hello Nokia!
Nokia, How are you there?

## Return Statement

Mengeluarkan hasil dari fungsi

In [23]:
def times(x,y):
    z = x*y
    return z

In [24]:
c = times(4,5)
print(c)

20

In [25]:
def times(x,y):
    '''This multiplies the two input arguments'''
    return x*y

In [26]:
help(times)

Help on function times in module __main__:

times(x, y)
    This multiplies the two input arguments

Multiple Return

In [31]:
eglist0 = [100,120,231,22,31,78]

In [32]:
def egfunc(eglist):
    highest = max(eglist)
    lowest = min(eglist)
    first = eglist[0]
    last = eglist[-1]
    return highest,lowest,first,last

In [34]:
egfunc(eglist0)

(231, 22, 100, 78)

In [35]:
a,b,c,d = egfunc(eglist)
print(' a =',a,'\n b =',b,'\n c =',c,'\n d =',d)

 a = 231
 b = 22
 c = 100
 d = 78

## Implicit arguments

In [36]:
def implicitadd(x,y=3):
    return x+y

In [40]:
implicitadd(8)

11

In [39]:
implicitadd(8,4)

12

## Any number of arguments

In [41]:
def add_n(*args):
    res = 0
    reslist = []
    for i in args:
        reslist.append(i)
    print(reslist)
    return sum(reslist)

In [43]:
ss = add_n(1,2,3,4,5,6,7)

[1, 2, 3, 4, 5, 6, 7]

In [44]:
ss

28

In [45]:
add_n(100,2000,32,44413,13,23,45243,123,2444,4442,2,123,4)

[100, 2000, 32, 44413, 13, 23, 45243, 123, 2444, 4442, 2, 123, 4]

98962

## Global and Local Variables

variable yang di sebut dalam function disebut Local Variable, selain itu disebut Global Variable.

In [47]:
eg1 = [2,3,4,1] ## --> global variable

In [50]:
def egfunc1():
    def thirdfunc(arg1):
        eg2 = arg1[:]
        eg2.append(6)
        print("terjadi dalam fungsi :", eg2)
        ## eg2 --> local variable
    
    print("terjadi di luar fungsi :", eg1)
    thirdfunc(eg1)
    print("terjadi di luar fungsi :", eg1)
    print("coba memanggil variable dalam fungsi :", eg2)

In [51]:
egfunc1()

terjadi di luar fungsi : [2, 3, 4, 1]
terjadi dalam fungsi : [2, 3, 4, 1, 6]
terjadi di luar fungsi : [2, 3, 4, 1]

NameError: name 'eg2' is not defined

In [56]:
def funcV(x):
    z1 = x**2
    z2 = x**0.5
    z3 = x**0.75
    return z1+z2+z3

In [57]:
z1 = 10

In [58]:
funcV(8)

71.58525558475706

In [59]:
z1

10

## Lambda and Map Functions

Untuk membuat simple function yang biasanya dipakai dalam list

In [66]:
z = lambda x: x * (x - 1)

In [67]:
z(8)

56

In [68]:
x

NameError: name 'x' is not defined

**map( )** mengeksekusi fungsi untuk semua nilai dalam list

In [69]:
list1 = [i for i in range(25)]
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [70]:
eg = map(lambda x:(x+2)*x, list1)
list(eg)

[0,
 3,
 8,
 15,
 24,
 35,
 48,
 63,
 80,
 99,
 120,
 143,
 168,
 195,
 224,
 255,
 288,
 323,
 360,
 399,
 440,
 483,
 528,
 575,
 624]

In [71]:
list2 = [i for i in range(25)]

In [73]:
eg2 = map(lambda x,y:x+(y-2), list1,list2)
list(eg2)

[-2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46]

bukan fungsi `lambda` saja yang bisa

In [32]:
eg3 = map(str,eg2)
list(eg3)

['-2',
 '0',
 '2',
 '4',
 '6',
 '8',
 '10',
 '12',
 '14',
 '16',
 '18',
 '20',
 '22',
 '24',
 '26',
 '28',
 '30',
 '32',
 '34',
 '36',
 '38',
 '40',
 '42',
 '44',
 '46']

In [83]:
def funcD(x,y):
    z1 = x+y
    z2 = (x*y)+2
    z3 = z1/z2
    z4 = (z3*(x))/(y+1)
    
    return z4 ** 0.5

In [85]:
eg2 = map(lambda a,b : funcD(a,b), list1,list2)
list(eg2)

[0.0,
 0.5773502691896257,
 0.6666666666666666,
 0.6396021490668313,
 0.5962847939999438,
 0.5555555555555556,
 0.520265981714472,
 0.49009802940980346,
 0.4642070825485276,
 0.44179262430643435,
 0.42220033092074905,
 0.4049155956077707,
 0.38953648389671724,
 0.37574765346045197,
 0.3632995072753774,
 0.35199244084794906,
 0.3416651374071856,
 0.3321858829976445,
 0.32344608770239264,
 0.31535541189691385,
 0.3078380643597401,
 0.3008299621371409,
 0.2942765297652136,
 0.2881309774010844,
 0.2823529411764706]

### filter

**filter( )** fungsi yang membantu filter list

In [86]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,15]

In [89]:
k=filter(lambda x:(x>=4) and (x<10),list1)
list(k)

[4, 5, 6, 7, 8, 9]

perhatikan..

In [35]:
list(map(lambda x:x%5==0, list1))

[False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True]

## Quiz 7

30 menit

submit --> (one_words_name).py

In [38]:
#######################
## Complete The Codes##
#######################

your_email=...
print("-----"+str(your_email)+"-------")

## input the function,

def weighted_avg(X,w):
    '''input X : X adalah list dengan panjang N'''
    '''input w : w adalah list dengan panjang N'''
    
    '''output w_avg : one float value'''
    '''Formula : (x1*w1 + x2*w2 + x3*w3 + ... + xN*wN)/(w1+w2+w3+...+wN)'''
    
    ... # --> lengkapi
    
    return w_avg

def emp_score(X):
    '''input X : X is list'''
    '''output eSco : one float value'''
    '''Formula : ((first value of X + last value of X)/2)+(3.5+second value of X)+(Avg of Y dimana Y adalah list baru yang dimana semua nilai X di pangkat 0.5)'''
    
    ... # --> lengkapi
    
    return eSco

def combine_value(X):
    '''input X : X is dictionary'''
    
    '''A = list of Weighted Average Siswa'''
    '''B = list of Scoring Employee'''
    
    c_val = (X['len_A']+X['len_B'])/2
    
    return c_val

## The Data ..
Open_A = open(...) # --> nilai_siswa.txt
read_A = ... # --> readlines
List_A_float = ... # --> change data to float

## weight
Open_W = open(...) # --> nilai_siswa_weight.txt
read_W = ... # --> readlines
List_W_float = ... # --> change data to float



Open_B = open(...) # --> employee_factor.txt
read_B = ... # --> readlines
List_B_float = ... # --> change data to float



## Process
#  ...
#  ...

## output (2 digits after comma)
print('Avg Weighted Average Siswa :'...)
print('Avg Scoring Employee :'...)
print('Max Value Weighted Average Siswa :'...)
print('Min Value Scoring Employee :'...)
print('Combine Value :'...)

print('-----------------------------------------')

In [94]:
SS=map(float,['1','2'])

In [95]:
list(SS)

[1.0, 2.0]